<h1 class="title is-1 has-text-centered heading">Editar Perfil de <%= resource_name.to_s.humanize %></h1>

<br><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Mail" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.text_field :username, autocomplete: "username", class: "input", placeholder: "Nombre de Usuario" %>
    </div>
  </div>

  <br>

  <div class="field">
    <div class="control">
      <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "Nueva Contraseña" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> caracteres mínimo</em>
      <% end %>
      <i>(dejar en blanco si no se desea cambiar)</i>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Confirmar Nueva Contraseña" %>
    </div>
  </div>

  <br>

  <div class="field">
    <div class="control">
      <%= f.password_field :current_password, autocomplete: "current-password", class: "input", placeholder: "Contraseña Actual" %>
      <i>La contraseña actual es necesaria para efectuar cualquier cambio</i>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar Datos", class: "button is-primary" %>
  </div>
<% end %>

<br><br><br>

<h2 class="title is-2">Cerrar Cuenta</h2>

<p>
  Puedes cerrar la cuenta en cualquier momento! Todos tus proyectos serán
  eliminados y no se podrán recuperar...
</p>

<br>

<%= button_to "Cerrar Cuenta", registration_path(resource_name), data: { confirm: "Seguro que deseas cerrar tu cuenta?" }, method: :delete, class: "button is-primary" %>
<br>
<%= link_to "Volver", :back, class: "button" %>
