<h1 class="title is-1 has-text-centered heading">Iniciar Sesión</h1>

<br><br>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <div class="control">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", placeholder: "Mail" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.password_field :password, autocomplete: "current-password", class: "input", placeholder: "Contraseña" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label "Recuérdame" %>
    </div>
  <% end %>

  <br>

  <div class="buttons are-medium">
    <%= f.submit "Iniciar Sesión!", class: "button is-primary" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

<br>
